<div class="container">
  <div class="upper-data">

    <img src="../assets/cold.jpg" *ngIf="14>15">
    <img src="../assets/hot.jpg" *ngIf="14<15">

    <div class="weather-data">
      <div class="location">Delhi</div>
      <div class="temperature">{{ 25.55 | number:'1.0-0'}}°C</div> 
      <!-- for degree symbol press `Alt+ 0 then 1 then 7 then 6` , keep pressing alt ,after pressing 6 leave Alt-->
    </div>

  </div>
  <div class="lower-data">


    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/cold scale.jpg" alt="">
          <span>min</span>
        </div>
        <div class="info-block-value">
          10°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets//hot scale.jpg" alt="">
          <span>max</span>
        </div>
        <div class="info-block-value">
          40°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.jpg" alt="">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          77%
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.jpg" alt="">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          11 Km/h
        </div>
      </div>
    </div>


  </div>
</div>

<router-outlet></router-outlet>